/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*nav ul li a{
	font-family: 'Roboto', sans-serif;
}*/

nav ul li a:hover{
	text-decoration: none;
	font-weight: 800px;
	color: #fff;
}

nav ul li a.active{
  background-color: #ffcc00;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.9;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}
